@import "./scssConfig";
@import "./normalize.scss";
body{
  height: 100vh;
  background-color: #001529 !important;
}
.inline-button{
  margin: 0px 10px;
}
.text-center{
  text-align: center;
}
.color-red{
  color: red;
}
.float-right{
  float: right;
}
.spacing-15 { height: 15px; }
.top-5{margin-top:5px !important;}
